<header><h1 class="display-4">Order</h1></header>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Order ID:</th>
    <td><%= @order.id %></td>
  </tr>

  <tr>
    <th>Name:</strong></th>
    <td><%= @order.name %></td>
  </tr>

  <tr>
    <th>Address:</strong></th>
    <td><%= @order.address %></td>
  </tr>

  <tr>
    <th>Email:</strong></th>
    <td><%= @order.email %></td>
  </tr>

  <tr>
    <th>Distance:</strong></th>
    <td><%= @order.calculate_distance %> km</td>
  </tr>

  <tr>
    <th>Delivery Cost:</strong></th>
    <td><%= number_to_currency(@order.delivery_cost, unit: 'Rp ', delimiter: '.', separator: ',') %></td>
  </tr>

  <tr>
    <th>Total Price:</strong></th>
    <td><%= number_to_currency(@order.total_price, unit: "Rp ", delimiter: ".", separator: ",") %></td>
  </tr>

  <tr>
    <th>Payment Type:</strong></th>
    <td><%= @order.payment_type %></td>
  </tr>

  <% if @order.voucher %>
    <tr>
      <th>Voucher:</strong></th>
      <td><%= @order.voucher.code %></td>
    </tr>

    <tr>
      <th>Discount:</strong></th>
      <td><%= number_to_currency(@order.discount, unit: "Rp ", delimiter: ".", separator: ",") %></td>
    </tr>

    <tr>
      <th>Total After Discount:</strong></th>
      <td><%= number_to_currency(@order.total_after_discount, unit: "Rp ", delimiter: ".", separator: ",") %></td>
    </tr>
  <% end %>
</table>
<div class='order'>
  <fieldset>    
    <legend>Order details</legend>
    <table>
      <%= render (@order.line_items) %>
    </table>
  </fieldset>
</div>

<div><%= link_to 'Back', session[:user_id] ? orders_path : store_index_path %></div>
<div>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@order.latitude},#{@order.longitude}&markers=#{@order.latitude},#{@order.longitude}&zoom=15&size=640x400",
              class: 'img-fluid img-rounded', alt: "#{@order.name} on the map"%>
</div>