<div class='entry'>
  <%= image_tag(food.image_url) %>
  <h3><%= food.name %></h3>
  <%= sanitize(food.description) %>
  <div class='price_line'>
    <span class="price">
      <%= number_to_currency(food.price, unit: "Rp ", delimiter: ".", separator: ",") %>
    </span>
  </div>
  <div class="cats_line">
    <span class="cats"><%= food.category.try(:name) %></span>
  </div>
  
  <div class="cats_line">
    <% food.tags.each do |tag| %>
      <span class="cats"><%= tag.name %></span>
    <% end %>
  </div>
</div>