<p id="notice"><%= notice %></p>

<%= render @food %>

<div class='reviews'>
  <h1>Reviews</h1>
  <% @food.reviews.each do |review| %>
    <%= render review %>
  <% end %>
</div>

<% if session[:user_id] %>
  <%= link_to 'Edit', edit_food_path(@food) %> |
  <%= link_to 'Back', foods_path %>
<% else %>
  <%= link_to 'Back', store_index_path %>
<% end %>

