<p id="notice"><%= notice %></p>

<h1>
  <strong>Restaurant:</strong>
  <%= @restaurant.name %>
</h1>
<%= render @restaurant.foods %>

<div class='reviews'>
  <h1>Reviews</h1>
  <% @restaurant.reviews.order(:created_at).reverse.each do |review| %>
    <%= render review %>
  <% end %>
</div>

<% if session[:user_id] %>
  <%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
  <%= link_to 'Back', restaurants_path %>
<% else %>
  <%= link_to 'Back', store_index_path %>
<% end %>
<div>
  <%= image_tag "http://maps.googleapis.com/maps/api/staticmap?center=#{@restaurant.latitude},#{@restaurant.longitude}&markers=#{@restaurant.latitude},#{@restaurant.longitude}&zoom=15&size=640x400",
              class: 'img-fluid img-rounded', alt: "#{@restaurant.name} on the map"%>
</div>