<p id="notice"><%= notice %></p>

<p>
  <strong>Category Name:</strong>
  <%= @category.name %>
</p>

<table>
  <% @foods.each do |food| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td>
        <%= image_tag(food.image_url, class: 'list_image') %>
      </td>
      <td class="list_description">
        <dl>
          <dt><%= food.name %></dt>
          <dd><%= truncate(strip_tags(food.description), length:80) %></dd>
          <dd>Rp<%= food.price %></dd>
        </dl>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
